# Node modules
node_modules/
backend/node_modules/

# Okoljske spremenljivke - ZELO POMEMBNO!
.env
.env.local
.env.production
backend/.env

# Build datoteke
dist/
build/

# Ostalo
.DS_Store
npm-debug.log